header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $ancho-maximo;
    margin: 0 auto;

    h1{
        padding: 20px;
    }

    nav>ul{
        display: flex;
        gap: 20px;
        padding: 20px;

    }
}